<!-- views/layout.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title || "Holokai Planner" %></title>
  </head>
  <body>
    <%- body %>
    <!-- Insert page content (like index.ejs) here -->
  </body>
</html>
