<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Holokai Planner</title>
    <link rel="stylesheet" href="public/style.css" />
  </head>
  <header class="top-header">
    <div class="top-header-content">
      <h2 class="site-logo">My University Planner</h2>
      <nav class="top-nav">
        <a href="/single" class="nav-link active">Single Scheduler</a>
        <a href="/" class="nav-link">Full Schedule</a>
      </nav>
    </div>
  </header>
  <body>
    <div class="background-image">
      <div class="header-image-container">
        <img
          src="assets/Holokai.jpg"
          alt="University Campus"
          class="header-image"
        />
      </div>

      <div class="container">
        <header class="floating-bar">
          <!-- Single Program Selection -->
          <div class="input-group">
            <label for="program-select">Program:</label>
            <select id="program-select">
              <%- include('partials/majors.ejs') %> <%-
              include('partials/minors.ejs') %>
            </select>
          </div>

          <!-- Single Checkbox to include Holokai, Core, Religion, and EIL -->
          <div class="input-group">
            <label
              ><input type="checkbox" id="include-all-extras" /> Include
              Holokai, Core, Religion, and EIL</label
            >
          </div>

          <!-- EIL Level Dropdown, disabled by default -->
          <div class="input-group">
            <label for="eil-level">EIL Level:</label>
            <select id="eil-level" disabled>
              <option value="fluent">Fluent</option>
              <option value="academic-english-2">Academic English 2</option>
              <option value="academic-english-1">Academic English 1</option>
            </select>
          </div>

          <%- include('partials/header.ejs') %>
          <button id="calculate-single-schedule">Generate Schedule</button>
        </header>

        <div id="schedule-container" class="hidden">
          <div id="summary" class="summary-box">
            <div class="summary-item animated-box">
              <p>Total Credits Taken</p>
              <h2 id="total-credits">0</h2>
            </div>
            <div class="summary-item animated-box">
              <p>Graduation Date</p>
              <h2 id="graduation-date">TBD</h2>
            </div>
          </div>

          <div id="schedule"></div>
        </div>
      </div>
    </div>

    <script src="single-script.js"></script>
  </body>
</html>
